{% extends "base.html" %}

{% block content %}
<div>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.about.label }}<br/>
            {{ form.about(class="form-control") }}<br/>
            {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>{{ form.img.label }} {{ form.img(class="form-control", type="file") }}</p>
        <p>{{ form.is_private() }} {{ form.is_private.label() }}</p>
        <p>{{ form.submit(class="btn btn-primary", type="submit") }}</p>
    </form>
</div>
{% endblock %}